---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import AustinMeshLogo from '../assets/images/Austin-Mesh-Logo.svg';

const events = await getCollection('events');

function getUpcomingEvent(
	events: CollectionEntry<'events'>[],
): CollectionEntry<'events'> | null {
	return (
		events.find((event) => event.data.scheduled_start_time > new Date()) ?? null
	);
}

const upcomingEvent = getUpcomingEvent(events);
---

<header>
  <a href="/" aria-label="Home">
    <Image
      src={AustinMeshLogo}
      class="logo"
      alt="Logo for Austin Mesh"
      title="Austin Mesh"
      width="500"
      height="121"
    />
    <span class="sr-only">Home</span>
  </a>
  {
    upcomingEvent && (
      <button
        id="open-event-dialog"
        type="button"
        class="default meet-button"
        style="background-color: white;"
      >
        📅 Upcoming Meeting{" "}
        {upcomingEvent.data.scheduled_start_time.toLocaleDateString("en-US", {
          month: "long",
          day: "2-digit",
        })}
      </button>
    )
  }
</header>

{
  upcomingEvent && (
    <dialog id="event">
      <header>
        <h1>{upcomingEvent.data.name}</h1>
      </header>
      <p>{upcomingEvent.data.description}</p>
      <p>
        <b>{upcomingEvent.data.scheduled_start_time.toLocaleString()}</b> (
        <a
          href={`https://discord.com/events/${upcomingEvent.data.guild_id}/${upcomingEvent.data.id}`}
          target="_blank"
          rel="noopener noreferrer"
        >
          Save the date
        </a>
        )
      </p>
      <p>{upcomingEvent.data.entity_metadata.location}</p>
      <footer>
        <form method="dialog">
          <a
            class="default"
            href={`https://discord.com/events/${upcomingEvent.data.guild_id}/${upcomingEvent.data.id}`}
            target="_blank"
            rel="noopener noreferrer"
            type="button"
          >
            Save the date
          </a>
          <button type="submit">Close</button>
        </form>
      </footer>
    </dialog>
  )
}

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelector("header")?.classList.add("loaded");
    const btn = document.getElementById("open-event-dialog");
    const dialog = document.getElementById("event") as HTMLDialogElement | null;
    if (btn && dialog && typeof dialog.showModal === "function") {
      btn.addEventListener("click", () => dialog.showModal());
    }
  });
</script>
